.border-black {
  border: 1px solid black;
}

.border-black-bottom {
  border-bottom: 1px solid black;
}

.border-all {
  border: 1px solid black;
}

.backgrund-laranja{
	background-color: rgba(255,217,102,1);
}

.margin-all{
	margin-top:0px;
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom: 15px;
	width:100%;
	padding-top:-1px;
	padding-bottom:-7px;
}

.remove-margin{
	margin-top:0px;
	margin-left:-15px;
	margin-right:-15px;
	width:100%;
	
	
}

.font {
	color:black;
}

.sublinhado  {
	text-decoration: underline;
}

.texto-justo-10{
	padding-top:-10px;
	
}
.texto-justo-20{
	padding-top:-20px;
	
}

.texto-maiusculo{
	text-transform:uppercase;
}

.direita{
	text-align:right;
	width:100%;
	
}
.text-size-12 {
	font-size: 12px
}

.text-size-16 {
	text-size: 16px
}

.negrito {
	font-weight: bold;
}

.cinza {
	background-color: rgba(224,224, 224, 1);
}

.20porcento{
	display:block;
	padding-top: -15px;
}

.20porcento ul {
	list-style:none;
	margin-left:-40px;
	margin-right:-40px;
	width:110.5%;
	
}
.20porcento li {
	display:inline-block;
	list-style:none;
	margin-right:-5px;
	width:18%;
	 text-align: center;
	  border: 1px solid black;
	
}



.remove-margin-top{
	padding-top: -40px;
	
}

.col-dm-agro {
	display:block;
	padding-top: -15px;
	
}

.col-dm-agro ul {
	list-style:none;
	margin-left:-55px;
	margin-right:-40px;
	width:100%;
	
}

.col-dm-agro li {
	display:inline-block;
	list-style:none;
	margin-right:-5px;
	 text-align: center;
	  border: 1px solid black;
	
}

.col-1{
	width:10%;
}

.col-2{
	width:20%;
}

.col-3{
	width:30%;
}

.col-4{
	width:40%;
}

.col-5{
	width:50%;
}

.col-6{
	width:60%;
}


